

# JavaScript has various MIME types
ExpiresByType application/x-javascript access
ExpiresByType application/javascript   access
ExpiresByType text/ecmascript          access
ExpiresByType text/javascript          access


# Remove ETags
FileETag None