<!doctype html>
<html data-ng-app data-ng-controller="MainController">
	<head>
		<meta charset="UTF-8" />
		<title>Data Binding with AngularJS</title>
		<link rel="stylesheet" href="../../lib/bootstrap/docs/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="../../lib/bootstrap/docs/assets/css/bootstrap-responsive.css" />
		<link rel="stylesheet" href="../data-binding.css" />
	</head>
	<body>
		<div class="container-fluid">
		
			<header class="row-fluid">
				<div class="span12">
					<div class="hero-unit">
						<h1>Data Bindings demo application</h1>
						<p>Using AngularJS</p>
					</div>
				</div>
			</header>
		
			<div class="row-fluid" data-ng-controller="NavigationController">
			
				<!-- Navigation
				  ========================================================== -->
				<nav class="well span3">
					<ul class="nav nav-list">
						<li>
							<a href="#" data-ng-click="showMyCloudView()">Cloud</a>
						</li>
						<li class="nav-header">Organizations</li>
						<li data-ng-repeat="organization in organizations">
							<a href="#" data-ng-click="showOrganizationView(organization)">
								<i class="icon-cloud-org"></i> 
								{{organization.name}}
							</a>
							<ul class="nav nav-list">
								<li class="nav-header">Networks</li>
								<li data-ng-repeat="network in organization.networks">
									<a href="#" data-ng-click="showNetworkView(network)">
										<i class="icon-cloud-org-network"></i>
										{{network.name}}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				
				<!-- Main content
				============================================================ -->
				<div class="span9">
				
					<!-- Tabs -->
					<ul id="mainTabs" class="nav nav-tabs" style="display:none">
						<li class="active"><a href="#cloud"        data-toggle="tab">Cloud</a></li>
						<li               ><a href="#organization" data-toggle="tab">Organization</a></li>
						<li               ><a href="#network"      data-toggle="tab">Network</a></li>
					</ul>
					
					<!-- Tab content -->
					<div class="tab-content">
					
						<!-- Cloud
						==================================================== -->
						<section id="cloud" class="tab-pane fade in active" data-ng-controller="CloudController">
							<h1>Cloud</h1>
							<h2>Organizations</h2>
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(i, organization) in organizations">
										<td>{{i+1}}</td>
										<td>{{organization.name}}</td>
										<td>
											<button class="btn" data-ng-click="showOrganizationView(organization)">Edit</button>
										</td>
									</tr>
									<tr>
										<td></td>
										<td class="control-group {{addOrganizationStatus}}">
											<input data-ng-model="newOrganizationName" type="text" />
											<span class="help-inline">{{addOrganizationMessage}}</span>
										</td>
										<td>
											<button class="btn" data-ng-click="addOrganization()">Add</button>
										</td>
									</tr>
								</tbody>
							</table>
						</section>
						
						<!-- Organization
						==================================================== -->
						<section id="organization" class="tab-pane fade in" data-ng-controller="OrganizationController">
							<h1>{{organization.name}}</h1>
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(i, network) in organization.networks">
										<td>{{i+1}}</td>
										<td>{{network.name}}</td>
										<td>
											<button class="btn" data-ng-click="showNetworkView(network)">Edit</button>
										</td>
									</tr>
									<tr>
										<td></td>
										<td class="control-group {{addNetworkStatus}}">
											<input data-ng-model="newNetworkName" type="text" />
											<span class="help-inline">{{addNetworkMessage}}</span>
										</td>
										<td>
											<button class="btn" data-ng-click="addNetwork()">Add</button>
										</td>
									</tr>
								</tbody>
							</table>
						</section>
						
						
						
						<section id="network" class="tab-pane fade in">
							network
						</section>
					</div>
				</div>
			</div>
		
			<p class="row">
				<a class="btn pull-right" href="..">« back</a>
			</p>
		</div>
		
		<script>
			var require = {
				paths: {
					jquery   : '../../lib/jquery/jquery',
					domReady : '../../lib/requirejs-domready/domReady',
					angular  : '../../lib/angular/angular', 
					bootstrap: '../../lib/bootstrap/docs/assets/js/bootstrap'
				},
				shim: {
					bootstrap: { deps: ['jquery'] }
				}
			}
		</script>
		<script data-main="main.js" src="../../lib/requirejs/require.js"></script>
	</body>
</html>